/* 
reset
 */

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /* 
 GENERAL
  */
body{
   background-color: #7FFFD4;
}
  .my-container{
   max-width: 1000px;
   margin: 0 auto;


  }

  #my-row{
   display: flex;
   flex-wrap: wrap;
  }

  #my-row > * {
   width: calc(100% / 10);
   height: calc(100vh / 10);
   background-color:#7FFFD4;
   border: 1px solid;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  #my-row > .color{
   background-color:lightcoral;
  
  }
